img#avatar {
	margin: 5px auto 20px auto;
    display: block;
    width: 120px;
    height: 140px;
}

img#qr_code {
	margin: 20px auto 20px auto;
    display: block;
    width: 150px;
    height: 150px;
}

.presentation {
	text-align: center;
}

body {
	font-size: 12px;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 14px;
	font-weight: bold;
}
