img#avatar {
	margin: 5px auto 20px auto;
    display: block;
    width: 120px;
    height: 140px;
}

img#qr_code {
	margin: 20px auto 20px auto;
    display: block;
    width: 150px;
    height: 150px;
}

.presentation {
	text-align: center;
}

body {
	-webkit-print-color-adjust:exact;
	zoom: 70%;
	-ms-zoom: 0.7;
	-webkit-zoom: 0.7;
	-moz-transform:  scale(0.7,0.7);
	-moz-transform-origin: left top;
}

h1 {
	font-size: 28px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 16px;
	font-weight: bold;
}
